{% extends 'Profile/base.html' %}
{%block content%}
<div class = 'container my-5 border'>
    <form method="post" enctype="multipart/form-data">
        <h1>Delete Marks</h1>
        <h2>----</h2>
        {%csrf_token %}
        <p>Are You sure you want to delete {{marks.marks_name}}</p>
        
        <button class = 'btn btn-danger' type = 'submit'>Delete</button>
        <button  class="btn btn-success mx-3 ">
            <a  class = 'text-white' href = "{% url 'specific_marks' marks.mark_student %}">
                Back to Marks
            </a>
    </button>
    </form>
</div>
{%endblock%}