{% extends 'Profile/base.html' %}
{% load crispy_forms_tags %}

{%block content%}
<div class = 'container my-5'>
    <form method="post" enctype="multipart/form-data">
        <h3>If it is your first Time DO NOT ESCAPE THIS PAGE</h3>
        <button class = 'btn btn-success'>
            <a class = 'text-white' href="{%url 'start_view'%}">
                Skip
            </a>

        </button>
        {%csrf_token %}
        {{form|crispy}}
        <button class="btn btn-success my-3" type = 'submit'>Create</button>
    </form>
</div>
{%endblock%}